.amount {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: calc(100% + 20px);
	bottom: 0;
	top: 0;
	margin: auto 0;
	justify-content: center;
	font-size: 2rem;
	color: #fff;
	font-family: 'Zaychik';
	white-space: nowrap;
	text-align: center;
}
@media screen and (max-width: 1024px) {
	.amount {
		font-size: 1.4rem;
		top: auto;
	}
}
@media screen and (max-width: 768px) {
	.amount {
		position: relative;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
	}
}
