.actions {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 100%;
	bottom: 0;
}
.button {
	transform: scale(0.7);
	white-space: nowrap;
}
@media screen and (max-width: 768px) {
	.actions {
		position: relative;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		flex-direction: row;
	}
	.button {
		white-space: wrap;
	}
}
